.courses {
  padding: 15px;
  margin: 10px;
  border: 10px double blue;
}


h1 {

  color: blue;
  padding: 15px;
  margin: 10px;
  border: 10px double red;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p>a {
  background-color: magenta;
}